<template name="mainContentWrapperCardTester">
    <main>
        <div class="row" style="padding:20px;">
            <div class="col s6 grey lighten-5" style="padding:20px;">
                {{> feedsAll }}
            </div>
            <div class="col s6 grey lighten-5" style="padding:20px;">
                {{> feedsAll }}
            </div>
            <div class="col s6 grey lighten-5" style="padding:20px;">
                {{> feedsAll }}
            </div>
            <div class="col s6 grey lighten-5" style="padding:20px;">
                {{> feedsAll }}
            </div>
        </div>
    </main>
</template>